<mat-list *ngIf="tasks?.length; else message">
  <h3 matSubheader *ngIf="title">{{ title }}</h3>

  <mat-list-item *ngFor="let task of tasks; let last = last; trackBy: trackById" [ngClass]="{ 'completed': task.completed }">

    <mat-checkbox [checked]="task.completed" (change)="completed($event, task)" fxFlex>{{ task.title }}</mat-checkbox>

    <button type="button" mat-icon-button aria-label="Delete" matTooltip="Delete" (click)="delete(task)">
      <mat-icon>delete</mat-icon>
    </button>

    <mat-divider *ngIf="!last"></mat-divider>

  </mat-list-item>
</mat-list>

<ng-template #message>
  <afd-empty-task *ngIf="!hideMessage"></afd-empty-task>
</ng-template>
